.site-main.site-main {
	margin-block-start: 0;
}
.current-menu-item .wp-block-navigation-item__content.wp-block-navigation-item__content {
	color: var(--wp--preset--color--monza);
}
p:empty {
	margin-block-start: 0;
}
p.is-style-heading {
	font-weight: 700;
}
:root :where(.wp-block-button .wp-block-button__link) {
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.cover-home-section {
	--wp--preset--font-size--xx-large: clamp(1.724rem, 1.724rem + ((1vw - 0.2rem) * 2.198), 3.125rem);
	line-height: 1.22;
}
.why-true-section,
.without-limits-section,
.maximize-impact-section {
	--wp--preset--font-size--large: clamp(.932rem, 0.932rem + ((1vw - 0.2rem) * 0.994), 1.5rem);
	font-size: var(--wp--preset--font-size--large);
	line-height: 1.22222222;
}
.why-true-section p.is-style-heading,
.without-limits-section p.is-style-heading,
.maximize-impact-section  p.is-style-heading {
	font-size: 2em;
	line-height: 1.20833333;
}
.why-true-section p.is-style-heading + p:not(.is-style-heading),
.without-limits-section p:not(.is-style-heading) {
	font-size: 150%;
	font-weight: 300;
}
.why-true-section {
	--wp--style--global--content-size: 585px;
}
.why-true-section .wp-element-button,
.ready-to-scale-your-team .wp-element-button {
	font-weight: 700;
	border-radius: 0.833333333em;
	padding: 0.833333333em 1.66666667em;
	min-width: 299.6px !important;
}
.why-true-section .wp-block-button:not(.has-background) .wp-element-button,
.ready-to-scale-your-team .wp-block-button:not(.has-background) .wp-element-button {
	background-color: var(--wp--preset--color--primary);
}
.why-true-section .wp-block-button:not(.has-background) .wp-block-button__link:hover,
.ready-to-scale-your-team .wp-block-button:not(.has-background) .wp-block-button__link:hover {
	background-color: color-mix(in srgb, black 15%, var(--wp--preset--color--primary));
}
.gallery-home-section {
	--wp--style--global--wide-size: 1374px;
	--wp--style--gallery-gap-default: var(--wp--preset--spacing--60);
}
.gallery-home-section.has-nested-images figure.wp-block-image > div {
	flex-grow: 0;
}
.gallery-home-section.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
	width: calc(33.33% - var(--wp--style--unstable-gallery-gap, 16px)* .66667);
}
.gallery-home-section.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) {
    margin-bottom: 0;
}
.gallery-home-section img {
	border-radius: var(--wp--preset--spacing--50);
}
.scalable-team-section,
.dedicated-remote-contributors {
	--wp--preset--font-size--large: clamp(0.727rem, 0.727rem + ((1vw - 0.2rem) * 3.979), 3rem);
	font-size: var(--wp--preset--font-size--large);
	line-height: 1.45833333;
	text-align: center;
	font-weight: 300;
}
.scalable-team-section {
	--wp--style--global--wide-size: 1281px;
}
.scalable-team-section p.is-style-heading {
	font-weight: inherit;
	line-height: 1.20833333;
}
.scalable-team-section strong {
	color: var(--wp--preset--color--primary);
	font-weight: 800;
}
.we-are-different-section {
    --wp--style--global--wide-size: 1408px;
	--wp--style--global--content-size: var(--wp--style--global--wide-size);
	--wp--preset--font-size--large: clamp(.966rem, 0.966rem + ((1vw - 0.2rem) * 0.497), 1.25rem);
	--wp--preset--font-size--xx-large: clamp(2.5rem, 2.5rem + ((1vw - 0.2rem) * 1.358), 4rem);
	font-size: var(--wp--preset--font-size--large);
	font-weight: 300;
}
.we-are-different-section p.is-style-heading {
	font-weight: 600;
}
.we-are-different-section > p.is-style-heading {
	--wp--preset--font-size--x-large: clamp(1.371rem, 1.371rem + ((1vw - 0.2rem) * 2.852), 3rem);
	font-size: var(--wp--preset--font-size--x-large);
	text-align: center;
	font-weight: inherit;
}
.we-are-different-section > .alignfull {
	max-width: 1398px;
	margin-left: auto;
}
.we-are-different-section .is-layout-grid {
	display: block;
	text-align: center;
	white-space: nowrap;
	overflow: scroll;
	scrollbar-width: none; /* Hide scrollbar in Firefox */
	-ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}
.we-are-different-section .is-layout-grid::-webkit-scrollbar {
	display: none; /* Hide scrollbar in Chrome/Safari */
}
.we-are-different-section .card {
	--wp--preset--font-size--x-large: clamp(1.388rem, 1.388rem + ((1vw - 0.2rem) * 1.071), 2rem);
	--icon-size: 3.2em;
	--gap: var(--wp--preset--spacing--30);
	color: var(--wp--preset--color--base);
	padding: calc(var(--wp--preset--spacing--50) * 1.125) calc(var(--wp--preset--spacing--50) * 0.9);
	border-radius: var(--wp--preset--spacing--50);
	width: 418px;
	min-height: calc(418px - var(--gap));
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	text-align: left;
}
.we-are-different-section .wp-block-equalstrue-icon {
	font-size: var(--icon-size);
}
.we-are-different-section .card + .card {
	margin-left: calc(var(--wp--preset--spacing--40) * 1.1 - 0.25em);
}
.we-are-different-section .card:not(.has-background) {
	background-color: var(--wp--preset--color--primary);
}
.we-are-different-section .card p {
	margin-top: var(--wp--preset--spacing--30);
}
.we-are-different-section .card p:first-child {
	margin-top: 0;
}
.we-are-different-section .card p.is-style-heading {
	font-size: var(--wp--preset--font-size--x-large);
	line-height: 1.21875;
}
.dedicated-remote-contributors {
	--wp--style--global--wide-size: 1150px;
}
.without-limits-section p:not(:last-child) {
	--wp--style--global--content-size: 570px;
}
.without-limits-section p:last-child,
.maximize-impact-section p:last-child {
	font-size: inherit;
	font-weight: 400;
}
.without-limits-section a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}
.multi-align-gallery-section {
	margin-top: calc(var(--wp--preset--spacing--60) * -1);
}
.multi-align-gallery-section .wp-block-gallery {
	min-height: 816px;
}
.multi-align-gallery-section .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
	width: calc(33.33% - var(--wp--style--unstable-gallery-gap, 16px)* .66667);
}
.multi-align-gallery-section .wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) {
    margin-bottom: 0;
}
.multi-align-gallery-section .wp-block-gallery .wp-block-image:first-child {
	align-self: flex-end;
}
.multi-align-gallery-section .wp-block-gallery .wp-block-image:last-child {
	align-self: flex-start;
}
.maximize-impact-section .box {
	--border-width: 25px;
	border: var(--border-width) solid transparent;
	border-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75' fill='none' stroke='%23f12a30' viewBox='0 0 75 75'%3e%3cpath stroke-width='2' d='M1 1h23v23H1zM51 1h23v23H51zM1 51h23v23H1zM51 51h23v23H51z'/%3e%3cpath stroke-width='3' d='M23 12.5h29M12.5 23v29M62.5 23v29M23 62.5h29'/%3e%3c/svg%3e") 25 stretch;
	padding: calc(var(--wp--preset--spacing--40) * 1.06666667 - var(--border-width)) calc(var(--wp--preset--spacing--50) - 1px - var(--border-width))calc(var(--wp--preset--spacing--40) * 1.1 - var(--border-width)) calc(var(--wp--preset--spacing--50) - 1px - var(--border-width));
}
.unique-talent-framework {
    --wp--style--global--wide-size: 1366px;
	--wp--preset--font-size--xx-large: clamp(1rem, 1rem + ((1vw - 0.2rem) * 1.071), 3rem);
	--wp--preset--font-size--xx-large: 3rem;
	--wp--preset--font-size--large: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.497), 1.54125rem);
	--wp--preset--font-size--large: 1.54125rem;
	text-align: center;
}
.unique-talent-framework p.is-style-heading {
	font-size: var(--wp--preset--font-size--xx-large);
	line-height: 1.20833333;
}
.unique-talent-framework p.is-style-heading:not(.has-text-color) {
	color: var(--wp--preset--color--primary);
}
.unique-talent-framework .cards {
	justify-content: center;
}
.unique-talent-framework .card {
	font-size: var(--wp--preset--font-size--large);
	font-weight: 600;
	text-align: left;
	background-color: var(--wp--preset--color--wild-sand);
	border-radius: 30.83px;
	padding: 34px 27px 34px 28px;
	min-height: 322px;
}
.unique-talent-framework .wp-block-equalstrue-icon {
	font-size: 1.98702352em;
}
.unique-talent-framework .card p.is-style-heading {
	font-size: inherit;
	line-height: inherit;
}
.unique-talent-framework .card p.is-style-heading:not(.has-text-color) {
	color: inherit;
}
.ready-to-scale-your-team {
	text-align: center;
	font-size: 24px;
}
.ready-to-scale-your-team p {
	font-size: 1.5em;
	line-height: 1.531;
}
.ready-to-scale-your-team p.is-style-heading {
	font-size: 2em;
}
.ready-to-scale-your-team p.is-style-heading + p {
	margin-block-start: 0;
}
.ready-to-scale-your-team .wp-block-buttons {
	justify-content: center;
}
@media (max-width: 600px) {
	.site-header > .wp-block-group > * {
		order: 1;
	}
	.site-header .wp-block-navigation {
		order: 2;
	}
	.wp-block-site-logo.wp-block-site-logo {
		margin-right: auto;
	}
	.wp-block-site-logo a {
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
	}
	.wp-block-site-logo img {
		width: 124.7px;
	}
	.site-header .wp-block-button__link {
		border-width: 0;
		padding: .5rem 1rem;
	}
	.site-header .wp-block-button:not(.has-text-color) .wp-block-button__link {
		color: var(--wp--preset--color--boulder);
	}
	.cover-home-section {
		min-height: 495px !important;
		line-height: 1.16666667;
	}
	.why-true-section {
		text-align: center;
	}
	.why-true-section p.is-style-heading {
		font-size: 156.6875%;
	}
	.why-true-section p:not(.is-style-heading) {
		font-size: inherit;
	}
	.why-true-section .wp-block-buttons {
		justify-content: center;
	}
	.gallery-home-section {
		--wp--style--gallery-gap-default: calc(var(--wp--preset--spacing--20) * 1.3);
	}
	.scalable-team-section p.is-style-heading {
		font-size: 156.6875%;
	}
	.we-are-different-section .card {
		width: calc((100vw - var(--wp--style--root--padding-right) - var(--wp--style--root--padding-left)) * .9);
		min-height: 227px;
	}
	.multi-align-gallery-section .wp-block-gallery {
		min-height: 296px;
	}
	.multi-align-gallery-section .wp-block-gallery.has-nested-images.columns-default {
		display: grid;
		row-gap: 164px;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(2, 1fr);
	}
	.multi-align-gallery-section .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
		width: 100%;
	}
	.multi-align-gallery-section .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:nth-child(even) {
		grid-row-end: span 2;
	}
}
.site-footer {
	padding-top: var(--wp--preset--spacing--50);
	padding-bottom: var(--wp--preset--spacing--50);
}
.site-footer:not(.has-background) {
	background-color: var(--wp--preset--color--primary);
}
.site-footer:not(.has-text-color) {
	color: var(--wp--preset--color--base)
}
.site-footer img {
	filter: brightness(0) invert(1);
}
@media (min-width: 1775px) {
	.we-are-different-section > .alignfull {
		max-width: none;
		margin-left: calc(var(--wp--style--root--padding-left) * -1);
	}
	.we-are-different-section .card {
		width: 400px;
	}
}
