/* body, */
/* .cover-home-section {
	background-image: url(../../screens/0home.png);
	background-size: 1440px;
	background-repeat: no-repeat;
	background-position: center -100px;
} */
/* .without-limits-section {
	color: #f00;
} */
/* .site-footer {
	background-image: url(../../screens/0home.png);
	background-size: 1440px;
	background-repeat: no-repeat;
	background-position: 13px -6623px;
} */
/* .page-id-18 {
	background-image: url(../../screens/2contact-figma3.png);
	background-size: 1440px;
	background-repeat: no-repeat;
	background-position: center -5px;
} */
