.wp-block-equalstrue-icon {
	display: block;
	width: 100%;
	line-height: 1;
	font-size: inherit;

	&.aligncenter {
		text-align: center
	}

	&.aligncenter,
	&.alignleft,
	&.alignright {
		display: table;
	}

	svg {
		fill: currentColor;
		width: 1em;
		height: 1em;
		vertical-align: bottom;
	}
}
