.wp-block-equalstrue-icon {
	display: inline-block;
	width: 1em;
	line-height: 1;
	font-size: inherit;
}
.wp-block-equalstrue-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: bottom;
}
