.wp-block-equalstrue-newsletter-field {
	font-size: inherit;
	line-height: inherit;
	border-style: solid;
	background-color: transparent;
	box-sizing: border-box;
	font-family: inherit;
	color: inherit;
}
.wp-block-equalstrue-newsletter-field:focus,
.wp-block-equalstrue-newsletter-field:focus-visible {
	outline: 0;
}
