[class^="equalstrue-icons--"],
[class*=" equalstrue-icons--"] {

	&::before {
		user-select: none;
	}
}

.rich-text:focus [class^="equalstrue-icons--"][data-rich-text-format-boundary],
.rich-text:focus [class*=" equalstrue-icons--"][data-rich-text-format-boundary] {
	background-color: rgba(56, 88, 233, 0.18);
	outline: 1px solid var(--wp-admin-theme-color, #3858e9);
	border-radius: 2px;
}
